@import 'antd/dist/antd.css';
@import "swiper/css";
@import "swiper/css/lazy";
@import "swiper/css/navigation";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import "./customStyle.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow';
  min-height: 100vh;
}


a {
  color: #fff;
  text-decoration: none;
}

main{
  min-height: 400px;
  .css-1m9128y {
    position: absolute;
    z-index: 99;
    bottom: 2;
    }
  
}
* {
  box-sizing: border-box;
}



