a:not([typeof='current']):hover {
  color: rgba(105, 105, 105, 0.78);
  font-weight: 500;
}

[typeof='current'] {
  font-weight: 500;
  color: rgba(105, 105, 105, 0.78) !important;
}

.not-login {
  grid-template-columns: 20% 70% auto !important;
}

.required_input {
  border-color: rgba(105, 105, 105, 0.78);
  color: rgba(105, 105, 105, 0.78);
}

.required_input:hover {
  border-color: rgba(105, 105, 105, 0.78);
}

.required_input:focus {
  border-color: rgba(105, 105, 105, 0.78);
  box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.4) !important;
}

.ant-radio-button-wrapper:hover {
  color: #fff;
}

.ant-radio-button-wrapper ant-radio-button-wrapper:checked {
  color: #fff !important;
  border-color: #fff !important;
}

.ant-radio-button-wrapper ant-radio-button-wrapper:checked::before {
  background-color: #fff !important;
}

.ant-radio-button-wrapper:not(first-child)::before {
  width: 0px !important;
}

.ant-radio-button-wrapper-checked {
  background: #F9C41F !important;
  border-color: #F9C41F !important;
}

.ant-menu-item,
.ant-menu-submenu {
  user-select: none;
}

.ant-menu-item:active,
.ant-menu-submenu:active {
  background-color: rgba(105, 105, 105, 0.78) !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
  color: #222222 !important;
}

.ant-menu-item-selected:after {
  border-color: rgba(105, 105, 105, 0.78) !important;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-submenu-selected {
  color: rgba(105, 105, 105, 0.78) !important;
}

.ant-menu-light .ant-menu-item:hover svg path,
.ant-menu-submenu-selected svg path {
  fill: rgba(105, 105, 105, 0.78) !important;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: rgba(105, 105, 105, 0.78) !important;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title svg path,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow svg path {
  fill: rgba(105, 105, 105, 0.78) !important;
}

.ant-popover-inner {
  border-radius: 12px !important;
}

.ant-popover-inner-content {
  padding: 8px !important;
}

.ant-pagination-prev button:hover,
.ant-pagination-next button:hover {
  border: 1px solid rgba(105, 105, 105, 0.78) !important;
}

.ant-pagination-prev button:hover span svg > path,
.ant-pagination-next button:hover span svg > path {
  fill: rgba(105, 105, 105, 0.78) !important;
}

.ant-pagination-item-active,
.ant-pagination-item:hover {
  border: 1px solid rgba(105, 105, 105, 0.78) !important;
}

.ant-pagination-item-active a,
.ant-pagination-item:hover a {
  color: rgba(105, 105, 105, 0.78) !important;
}

.ant-btn {
  background-color: #ffc22b;
}

.ant-btn:focus {
  color: #fff;
  background-color: rgba(105, 105, 105, 0.78);
  border: 1px solid rgba(105, 105, 105, 0.78);
}

.ant-btn:not(.disable-custom-btn):not(.disable-hover):hover {
  background-color: rgba(105, 105, 105, 0.78) !important;
  color: #fff !important;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 16px rgba(34, 34, 34, 0.08);
}

.ant-btn:not(.disable-custom-btn):not(.disable-hover):hover svg path {
  fill: #fff;
  transition: all .2s ease;
}

.btn-show-all {
  background-color: #ffc22b;
  color: #fff;
  border: 1px solid transparent;
}

.btn-show-all:hover {
  background-color: #ffc22b !important;
  color: #fff;
  transform: scale(1.03);
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ant-spin-dot-item {
  background-color: #ffc22b;
}

.ant-input-affix-wrapper:focus {
  border-color: transparent;
  box-shadow: none !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: transparent;
}

.ant-typography ul li,
.ant-typography ol li {
  padding: 0 0 0 0;
}
/*# sourceMappingURL=customStyle.css.map */